<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="github.weizibin.mapper.KillGoodsRecordMapper" >
  <resultMap id="BaseResultMap" type="github.weizibin.po.KillGoodsRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="kill_time" property="killTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, customer_id, kill_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kill_goods_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kill_goods_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="github.weizibin.po.KillGoodsRecord" >
    insert into kill_goods_record (id, goods_id, customer_id, 
      kill_time)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{killTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="github.weizibin.po.KillGoodsRecord" >
    insert into kill_goods_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="killTime != null" >
        kill_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="killTime != null" >
        #{killTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.weizibin.po.KillGoodsRecord" >
    update kill_goods_record
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="killTime != null" >
        kill_time = #{killTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.weizibin.po.KillGoodsRecord" >
    update kill_goods_record
    set goods_id = #{goodsId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      kill_time = #{killTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from kill_goods_record
  </select>
</mapper>