<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="github.weizibin.mapper.KillGoodsMapper" >
  <resultMap id="BaseResultMap" type="github.weizibin.po.KillGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="in_stock" property="inStock" jdbcType="BIT" />
    <result column="start_kill_time" property="startKillTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, stock, in_stock, start_kill_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kill_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kill_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="github.weizibin.po.KillGoods" useGeneratedKeys="true" keyProperty="id">
    insert into kill_goods (id, name, stock, 
      in_stock, start_kill_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{inStock,jdbcType=BIT}, #{startKillTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="github.weizibin.po.KillGoods" >
    insert into kill_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="inStock != null" >
        in_stock,
      </if>
      <if test="startKillTime != null" >
        start_kill_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="inStock != null" >
        #{inStock,jdbcType=BIT},
      </if>
      <if test="startKillTime != null" >
        #{startKillTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.weizibin.po.KillGoods" >
    update kill_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="inStock != null" >
        in_stock = #{inStock,jdbcType=BIT},
      </if>
      <if test="startKillTime != null" >
        start_kill_time = #{startKillTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.weizibin.po.KillGoods" >
    update kill_goods
    set name = #{name,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      in_stock = #{inStock,jdbcType=BIT},
      start_kill_time = #{startKillTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllInStock" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from kill_goods
    where in_stock = 1
  </select>
</mapper>